@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-background-color: hsl(47, 88%, 63%);
    --primary-hover-color: hsl(47, 91%, 49%);
    --secondary-background-color: hsl(0, 0%, 100%);
    --primary-text-color: hsl(0, 0%, 7%);
    --secondary-text-color: hsla(0, 0%, 35%, 0.8);
    --third-background-color: 	hsla(0, 0%, 7%, .4);
    --blue-background-color: hsl(203, 92%, 19%);
    --lightblue-text-color: hsl(199, 99%, 55%);
}

body {
    min-width: 23.438rem;
    height: 50.75rem;
    background-color: var(--primary-background-color);
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20.438rem;
    min-height: 31.313rem;
    background-color: var(--secondary-background-color);
    margin: 9.75rem 1.5rem 9.688rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 0px var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    position: relative;
}

.container {
    width: 17.438rem;
    margin: 1.5rem;
}

#header__content {
    box-shadow: 2px 2px 8px -6px #101a67;
}

.header__list {
    list-style-type: none;
}

.header__link {
    text-decoration: none;
    color: var(--blue-background-color);
    font-weight: 600;
    padding: 5px 10px;
}

#header__navbar_toggle {
    width: 3.125rem;
    height:3.125rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 11px;
    position: relative;    
}

#header__navbar_toggle span {
    width: 30px;
    height: 4px;
    background-color: var(--secondary-background-color);
    margin: 3px;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 43%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.header__link:focus,
.header__link[aria-current="page"]:focus,
#header__navbar_toggle:focus {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}


#header__navbar_toggle span:nth-of-type(1) {
    top: 27%;
}

#header__navbar_toggle span:nth-of-type(3) {
    top: 64%;
}


#header__navbar_toggle[aria-expanded='true'] span:nth-of-type(1) {
    top: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#header__navbar_toggle[aria-expanded='true'] span:nth-of-type(2) {
    opacity: 0;
}

#header__navbar_toggle[aria-expanded='true'] span:nth-of-type(3) {
    top: 45%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header__container {
    background-color: var(--blue-background-color);
    width: 17.438rem;
    height: 5.375rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header__logo {
    width: 70%;
    text-decoration: none;
    color: var(--secondary-background-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.313em;
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header__list {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0.3em 0;
}

.header__list_item {
    border-bottom: 1px solid rgba(64, 71, 150, 0.123);
    padding: 1.35em 0;
}

.nav-socials-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
    font-size: 1.8rem;
    padding: 0.7rem;
}

.sr-only {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0, 0, 0, 0); 
  white-space: nowrap; 
  border: 0;
}

.facebook-icon-gradient {
    background: -webkit-linear-gradient(#0165E1, #17A9FD);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #4e6e8d38;
}

.instagram-icon-gradient {
    background: -webkit-linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #4e6e8d38;
}

.twitter-icon-gradient {
    background: #1D9BF0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #4e6e8d38;
}

.facebook-icon-gradient:focus,
.instagram-icon-gradient:focus,
.twitter-icon-gradient:focus {
    outline: 3px solid #005fcc;
    outline-offset: 2px;
    border-radius: 10px;
    padding: 3px 3px 0;
}

.header__navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.375rem;
    left: 0;
    background-color: var(--secondary-background-color);   
    max-height: 40rem;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
    z-index: 20;
}

.hidden {
    max-height: 0;
}

.card__blog_image {
    width: calc(100% - 3rem);
    height: 12.5rem;
    background-image: url('assets/images/illustration-article.svg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    border-radius: 0.625rem;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    height: 10.813rem;
    position: absolute;
    top: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content__category {
    width: 4.563rem;
    border-radius: 0.25rem;
    font-family: 'Figtree';
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 800;
    color: var(--primary-text-color);
    padding: 0.25rem 0.75rem;
    background-color: var(--primary-background-color);
}

.content__pubdate {
    width: 7.688rem;
    font-family: 'Figtree';
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 500;
    color: var(--primary-text-color);
    margin: 0.75rem 0;
}

.content__title {
    width: 100%;
    height:1.875rem;
    font-family: 'Figtree';
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 150%;
    margin-bottom: 0.75rem;
}

.content__description {
    font-family: 'Figtree';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--secondary-text-color);
}

.footer {
    width: calc(100% - 48px);
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer__author {
    display: flex;
}

.footer__author_image {
    width: 2rem;
}

.footer__author_name {
    align-self: center;
    padding-left: 0.75rem;
    font-family: 'Figtree';
    font-size: 1rem;
    line-height: 150%;
    font-weight: 800;
    color: var(--primary-text-color);
}

.nav-socials-desktop {
    display: none;
}

@media screen and (min-width: 90rem) {
    body {
        min-width: 90rem;
        height: 60rem;
    }
    
    .card {
        width: 24rem;
        height: 32.625rem;
        margin: 9.75rem auto 9.688rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .container {
        width: 21rem;
        margin: 1.5rem auto;
    }

    #header__content {
        width: 100%;
        height: 15.375rem;
        position: relative;
    }

    .header__container {
        all: unset;
        width: 21rem;
        height: 5.375rem;
        position: absolute;
        top: -45.65%;
        left: 6.45%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--blue-background-color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 10;
    }

    .header__logo {
        width: 100%;
        font-size: 1.8rem;
        text-align: center;
    }

    #header__navbar_toggle {
        display: none;
    }

    .nav-socials-mobile {
        display: none;
    }

    .header__navbar {
        all: unset;
        width: 21rem;
        height: 4.375rem;
        position: absolute;
        top: -10.6%;
        left: 6.4%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-color: var(--secondary-background-color);
    }

    .header__list {
        all: unset;
        width: 100%;
        height: 4.375rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
        list-style-type: none;
    }

    .header__link {
        width: 25%;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0.625rem;
        border-radius: 10px;
    }

    .header__link:hover {
        background-color: var(--blue-background-color);
        color: var(--secondary-background-color);
    }

    .header__link[aria-current="page"] {
        all: unset;
        background-color: var(--lightblue-text-color);
        color: white;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 10px;
    }

    .card__blog_image {
        width: 21rem;
        margin: 1.5rem;
    }

    .content {
        height: 12.125rem;
    }

    .content__category {
        width: 5.125rem;
        font-size: 0.875rem;
    }

    .content__pubdate {
        width: 8.938rem;
        font-size: 0.875rem;
    }

    .content__title {
        font-size: 1.5rem;
        position: relative;
    }    

    .content__title:hover {
        color: var(--primary-hover-color);
        font-weight: 800;
        text-shadow: 2px 2px var(--blue-background-color);
        text-transform: uppercase;
    }

    .content__description {
        height: 4.5rem;
        font-size: 1rem;
    }

    .footer {
        width: 21rem;
        height: 2rem;
        margin: 1.5rem;
        display: flex;
        justify-content: space-between;        
    }

    .footer__author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-socials-desktop {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        padding-right: 10px;
        font-size: 1.5rem;
    }
}